  <div>
    <h2>Workstyle Report</h2>
    <div class="well">

      <form class="form-inline">
          Date: <input type="text" name="since" id="since" value="2013-04-01" class="datepicker span2" /> ~
          <input type="text" name="until" id="until" value="<%= Date.today %>" class="datepicker span2" />

          &nbsp;Staff:
          <select id="username" name="username">
          <option value="">All Staff</option>
          <option>jun@uniba.jp</option>
          <option>haruma@uniba.jp</option>
          <option>rei@uniba.jp</option>
          <option>yui@uniba.jp</option>
          <option>seiya@uniba.jp</option>
          <option>noriyuki@uniba.jp</option>
          <option>ryo@uniba.jp</option>
          <option>tetsuro@uniba.jp</option>
          <option>keiichi@uniba.jp</option>
          <option>andre@uniba.jp</option>
          <option>hideyuki@uniba.jp</option>
          <option>daichi@uniba.jp</option>
          <option>sei@uniba.jp</option>
          <option>mori@uniba.jp</option>
          <option>saki@uniba.jp</option>
          <option>ogawa@uniba.jp</option>
          <option>takumi@uniba.jp</option>
          <option>mizutani@uniba.jp</option>
          <option>fukuma@uniba.jp</option>
          </select>
          <!--
          <div class="btn-group">
            <button class="btn">All User</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="#">all user</a></li>
              <li><a tabindex="-1" href="#">jun@uniba.jp</a></li>
              <li><a tabindex="-1" href="#">haruma@uniba.jp</a></li>
              <li><a tabindex="-1" href="#">jun@uniba.jp</a></li>
              <li><a tabindex="-1" href="#">jun@uniba.jp</a></li>
              <li><a tabindex="-1" href="#">jun@uniba.jp</a></li>
              <li><a tabindex="-1" href="#">jun@uniba.jp</a></li>
              <li><a tabindex="-1" href="#">jun@uniba.jp</a></li>
              <li><a tabindex="-1" href="#">jun@uniba.jp</a></li>
              <li><a tabindex="-1" href="#">jun@uniba.jp</a></li>
              <li><a tabindex="-1" href="#">jun@uniba.jp</a></li>
            </ul>
          </div>
          -->

          &nbsp;<button class="btn btn-primary" id="update">Update</button><br />
          <input type="checkbox" id="show-detail" name="show-detail" value="on" checked /> show detail
      </form>

    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#barchart" data-toggle="tab">Trends</a></li>
      <li><a href="#piechart" data-toggle="tab">Piechart</a></li>
      <li><a href="#user_table" data-toggle="tab">Table</a></li>
    </ul>
    <div id="graph" class="tab-content">
    </div>
    <hr />
    <div id="table">
    </div>
  </div>

<script>
/**
 * ready時に実行
 *
 */
$(function(){
  var workstyle = new Workstyle("#graph", "#table");
  
  $("#update").on("click", function() { workstyle.load(); return false;})
  $("form").on("submit", function() { return false;})
  $("#show-detail").on("change", function() { workstyle.change(); return false;})

  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1
  })

});
</script>