  <div>
    <h2>Workstyle</h2>
    <div class="well">
      <!--
      <form class="form-inline">
        Date: <input type="text" name="until" id="until" class="datepicker span2" /> ~
        <input type="text" name="until" id="until" class="datepicker span2" />
      </form>
      -->
    </div>
    <div id="graph">
    </div>
    <hr />
    <div id="table">
    </div>
  </div>
