  <div>
    <h2>Workstyle Report</h2>
    <div class="well clearfix">

      <form class="form-inline">
        <div class="pull-left">

            <div class="input-prepend">
              <span class="add-on"><i class="icon-calendar"></i></span>
              <input type="text" name="span" id="span" class="rangepicker form-control col-sm-4" />
            </div>
            <input type="hidden" name="since" id="since" />
            <input type="hidden" name="until" id="until" />

            <select name="split" id="split" class="form-control">
              <option value="year">by year</option>
              <option value="quarter">by quarter</option>
              <option value="month" selected>by month</option>
              <option value="week">by week</option>
              <option value="day">by day</option>
            </select>

            <select name="username" id="username" class="form-control">
              <option value="">All Staff</option>
              <option>jun@uniba.jp</option>
              <option>haruma@uniba.jp</option>
              <option>rei@uniba.jp</option>
              <option>yui@uniba.jp</option>
              <option>seiya@uniba.jp</option>
              <option>noriyuki@uniba.jp</option>
              <option>ryo@uniba.jp</option>
              <option>tetsuro@uniba.jp</option>
              <option>keiichi@uniba.jp</option>
              <option>andre@uniba.jp</option>
              <option>hideyuki@uniba.jp</option>
              <option>daichi@uniba.jp</option>
              <option>sei@uniba.jp</option>
              <option>mori@uniba.jp</option>
              <option>saki@uniba.jp</option>
              <option>ogawa@uniba.jp</option>
              <option>takumi@uniba.jp</option>
              <option>mizutani@uniba.jp</option>
              <option>fukuma@uniba.jp</option>
              <option>mj@uniba.jp</option>
            </select>

          <button class="btn btn-primary" id="update">Update</button>
        </div>
        <div class="pull-right">
          <div class="checkbox">
            <label><input type="checkbox" id="show-detail" name="show-detail" value="on" checked /> show detail</label>
          </div>
        </div>
      </form>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#barchart" data-toggle="tab">Trends</a></li>
      <li><a href="#piechart" data-toggle="tab">Piechart</a></li>
      <li><a href="#user_table" data-toggle="tab">Table</a></li>
    </ul>
    <div id="graph" class="tab-content">
    </div>
    <hr />
    <div id="table">
    </div>
  </div>

<script>
/**
 * ready時に実行
 *
 */
$(function(){
  var workstyle = new Workstyle("#graph", "#table");
  
  $("#update").on("click", function() { workstyle.load(); return false;})
  $("form").on("submit", function() { return false;})
  $("#show-detail").on("change", function() { workstyle.change(); return false;})

  $('.rangepicker').daterangepicker({
    format: 'YYYY-MM-DD',
    startDate: '2013-04-01',
    endDate: '2014-03-31',
    minDate: '2013-04-01',
    maxDate: '2014-03-31',
    ranges: {
      'This Year (2013)': ['2013-04-01', '2014-03-31'],
      'This Quarter (4Q)': ['2014-01-01', '2014-03-31'],
      'Last Quarter (3Q)': ['2013-10-01', '2013-12-31'],
      'This Month (2014/01)': [moment().startOf('month'), moment().endOf('month')],
      'Last Month (2013/12)': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
      'This Week': [moment().subtract('days', 6), new Date()],
      'Last Week': [moment().subtract('days', 6 + 7), moment().subtract('days', 6)],
    },
  }, function(start, end) {
    $('#since').val(moment(start).format('YYYY-MM-DD'));
    $('#until').val(moment(end).format('YYYY-MM-DD'));
  });
  $('#span').val('2013-04-01 - 2014-03-31');
  $('#since').val('2013-04-01');
  $('#until').val('2014-03-31');

});
</script>