/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/bootstrap
 *= require bootstrap/bootstrap-responsive
 */


.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

td.hour, th.hour {
  text-align: right;
}

.data-tooltip {
  font-size: 10px;
  border: 1px solid #ccc;
  background-color: rgba(255,255,255,0.8);
  padding: 3px 6px 2px 6px;
  color: black;
}

.inner_arc text, .outer_arc text {
  fill: white;
  font-size: 9px;
}

thead {
  background: #eee;
}

tfoot {
  background: #eee;
}

form {
  margin: 0px;
}

table.table td.amount {
  text-align: right;
}
table.table th.amount {
  text-align: right;
}

table.table tbody tr.p_project.finished {
  background: yellowgreen;
  
}