  <div>
  <h2>Flagship Report</h2>
    <div class="well">

      <form class="form-inline">
          Span: <input type="text" name="range" id="range" class="rangepicker" />&nbsp;
          Count by: <select name="split" id="split"><option selected>month</option><option>week</option><option>day</option></select>&nbsp;
          Group by: <select name="group" id="group"><option>account</option><option selected>contents</option></select>&nbsp;
          <button class="btn btn-primary" id="update">Update</button><br />
          <input type="checkbox" value="on" id="scale-checkbox" name="scale-checkbox" /> zoom y-scale
      </form>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#barchart" data-toggle="tab">動画視聴数</a></li>
    </ul>

    <div id="graph" class="tab-content">
    </div>
    <hr />
    <div id="table" class="tab-content">
    </div>
  </div>

<script type="text/javascript">
/**
 * ready時に実行
 *
 */
  var flagship = new Flagship('#graph', '#table');

  $('.rangepicker').daterangepicker({
  	format: 'YYYY-MM-DD',
  	startDate: '2013-04-01',
  	endDate: '2014-03-31',
  });

  $('#scale-checkbox').change(flagship.change.bind(flagship));
  $('button#update').on('click', function() { flagship.load(); return false; });

</script>