  <div class="row">
    <div class="span6 clearfix">
      <h2>Management</h2>
      <p class="thumbnails span6"><a href="/dashboard/management" class="thumbnail"><img data-src="holder.js/460x230" alt=""></a></p>
    </div>
    <div class="span6">
      <h2>Production</h2>
      <p class="thumbnails span6"><a href="/dashboard/production" class="thumbnail"><img data-src="holder.js/460x230" alt=""></a></p>
   </div>
    <div class="span6">
      <h2>Flagship</h2>
      <p class="thumbnails span6"><a href="/dashboard/flagship" class="thumbnail"><img data-src="holder.js/460x230" alt=""></a></p>
    </div>
    <div class="span6">
      <h2>Workstyle</h2><p></p>
      <p class="thumbnails span6"><a href="/dashboard/workstyle" class="thumbnail"><img data-src="holder.js/460x230" alt=""></a></p>
    </div>
  </div>
