  <div>
    <h2>Management Report</h2>
    <div class="well clearfix">

      <form class="form-inline">
        <div class="pull-left">

            <input type="text" name="span" id="span" class="rangepicker form-control col-sm-4" disabled />
            <input type="hidden" name="span_start" id="span_start" />
            <input type="hidden" name="span_end" id="span_end" />

            <select name="split" id="split" class="form-control" disabled>
              <option value="year">by year</option>
              <option value="quarter">by quarter</option>
              <option value="month" selected>by month</option>
              <option value="week">by week</option>
              <option value="day">by day</option>
            </select>

          <button class="btn btn-primary" id="update" disabled>Update</button>
        </div>
        <div class="pull-right">
        </div>
      </form>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#barchart" data-toggle="tab">年間費用</a></li>
      <li><a href="#saleschart" data-toggle="tab">年間売上</a></li>
      <li><a href="#improvementchart" data-toggle="tab">改善予算実績</a></li>
      <li><a href="#challengechart" data-toggle="tab">チャレンジ予算実績</a></li>
      <!--
      <li><a href="#q_sales" data-toggle="tab">四半期別売上見込み</a></li>
      <li><a href="#sales_costs" data-toggle="tab">年間売上・費用（四半期毎推移）</a></li>
      -->
    </ul>

    <div id="graph" class="tab-content">
    </div>
    <hr />
    <div id="table" class="tab-content">
    </div>

  </div>
<script type="text/javascript">
/**
 * ready時に実行
 *
 */
  google.load("visualization", "1");
  function onLoadVisualizationApi() {
    console.log('aaa');
    var management = new Management('#graph', '#table');
  }
  google.setOnLoadCallback(onLoadVisualizationApi); 

  $('.rangepicker').daterangepicker({
    format: 'YYYY-MM-DD',
    startDate: '2013-04-01',
    endDate: '2014-03-31',
    minDate: '2013-04-01',
    maxDate: '2014-03-31',
    ranges: {
      'This Week': [moment().subtract('days', 6), new Date()],
      'Last Week': [moment().subtract('days', 6 - 7), new Date()],
      'This Month': [moment().startOf('month'), moment().endOf('month')],
      'Last Month': [moment().startOf('month'), moment().endOf('month')],
      'This Quarter': ['2013-10-01', '2013-12-31'],
      'This Year': ['2013-04-01', '2014-03-31'],
    },
  }, function(start, end) {
    $('#span_start').val(moment(start).format('YYYY-MM-DD'));
    $('#span_end').val(moment(end).format('YYYY-MM-DD'));
  });
  $('#span').val('2013-04-01 - 2014-03-31');

  $('button#update').on('click', function() { management.load(); return false; });
  $("form").on("submit", function() { return false;})

</script>