  <div>
  <h2>Management</h2>
    <div class="well">

    <!--
      <form class="form-inline">
          Date: <input type="text" name="since" id="since" value="2013-04-01" class="datepicker span2" /> ~
          <input type="text" name="until" id="until" value="<%= Date.today %>" class="datepicker span2" />

          <button class="btn btn-primary" id="update">Update</button>
      </form>
    -->

    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#barchart" data-toggle="tab">年間費用</a></li>
      <li><a href="#saleschart" data-toggle="tab">年間売上</a></li>
      <li><a href="#improvementchart" data-toggle="tab">改善予算実績</a></li>
      <li><a href="#challengechart" data-toggle="tab">チャレンジ予算実績</a></li>
      <!--
      <li><a href="#q_sales" data-toggle="tab">四半期別売上見込み</a></li>
      <li><a href="#sales_costs" data-toggle="tab">年間売上・費用（四半期毎推移）</a></li>
      -->
    </ul>

    <div id="graph" class="tab-content">
    </div>
    <hr />
    <div id="table" class="tab-content">
    </div>

  </div>
<script type="text/javascript">
/**
 * ready時に実行
 *
 */
  google.load("visualization", "1");
  function onLoadVisualizationApi() {
    console.log('aaa');
    var management = new Management('#graph', '#table');
  }
  google.setOnLoadCallback(onLoadVisualizationApi); 


</script>